<%- include ("partials/header") %> 
		<div class="row">
      
			<!-- Menu -->
			<div class="col-md-3"> 
          <p class="lead"> Welcome </p>
          <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action active">Home</button>
            <button type="button" class="list-group-item list-group-item-action">History</button>
            <button type="button" class="list-group-item list-group-item-action"><a href="/users/<%= currentUser.id %>">Profile</a></button>
            <button type="button" class="list-group-item list-group-item-action" disabled>Settings</button>
          </div>
      </div>
                  
      <!-- Page content -->
      <div class="col-md-9">
          <div id="map"> </div>

          <% if (currentUser.userType === "Customer") { %>

          <!-- form to display from and to for your ride -->
          <form method="POST" action="/ride/request">
            <!-- <div class="form-group">
              <label for="origin">From</label>
              <input type="text" class="form-control" id="origin" aria-describedby="fromHelp">
              <small id="fromHelp" class="form-text text-muted">Your current location or where to start trip from.</small>
            </div> -->
            <!-- <div class="form-group"> -->
              <!-- <label for="destination">Where to?</label> -->
              <h5 class="pl-3">Where to?</h5>
              <div class="d-flex flex-row flex-wrap">
                <div class="form-group col">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa fa-search-plus"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control autocomplete" id="destination"> </input>
                  </div>
                </div>
              </div>
            <!-- </div> -->
            <!-- <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div> -->
            <input id="customer_id" name="customer_id" type="hidden" value="<%= currentUser.id %>">
            <button type="submit" id="request-ride" class="btn btn-primary">Request ride</button>
          </form>
          <% } else if (currentUser.userType === "Driver") { %>
            <h5>Ready for rides?</h5>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-secondary active">
                <input type="radio" name="options" id="Available" checked> Available
              </label>
              <label class="btn btn-secondary">
                <input type="radio" name="options" id="Unavailable"> Not available
              </label>
            </div>
          <% } %>

      </div>
      <script>
      // Note: This example requires that you consent to location sharing when
      // prompted by your browser. If you see the error "The Geolocation service
      // failed.", it means you probably did not give permission for the browser to
      // locate you.
      var map, infoWindow;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          // center: {lat: 53.602, lng: -113.411}, // Edmonton
          zoom: 6
        });
        infoWindow = new google.maps.InfoWindow;

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.watchPosition(findLocation, showError, {timeout:10000, enableHighAccuracy: true}); 
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }

        // Initialize places autocomplete 
        var input = document.getElementById('destination');

        var options = {types: ['geocode']};
        autocomplete = new google.maps.places.Autocomplete(input, options);

      }

      // Success callback
      function findLocation(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            }; 

            // infoWindow.setPosition(pos);
            // infoWindow.setContent('Location found.');
            // infoWindow.open(map);
            map.setCenter(pos);

            // Place a marker at the current position 
            var marker = new google.maps.Marker({position: pos, 
              map: map,
              // animation: google.maps.Animation.DROP,
              title: "Your location"
            });
      }

      // Error callback 
      function showError(error) {
        switch(error.code) {
          case error.PERMISSION_DENIED:
            console.log("Permission denied by user.");
            break;
          case error.POSITION_UNAVAILABLE:
            console.log("Location position unavailable.");
            break;
          case error.TIMEOUT:
            console.log("Request timeout.");
            break;
          case error.UNKNOWN_ERROR:
            console.log("Unknown error.");
            break;
        }
        handleLocationError(true, infoWindow, map.getCenter());
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }
      </script>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE&libraries=places&callback=initMap">
      </script>
<%- include ("partials/footer") %> 